<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% messages.forEach(function(message) { %>
  <div>
    <p><strong>User:</strong> <%= message.user %></p>
    <p><strong>Message:</strong> <%= message.text %></p>
    <p><strong>Date:</strong> <%= message.added %></p>
  </div>
<% }); %>
  </body>
</html>
